modules = ["nodejs-20", "web", "nix"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 43
externalPort = 3001

[[ports]]
localPort = 4321
externalPort = 80

[[ports]]
localPort = 4322
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 38303
externalPort = 3003

[[ports]]
localPort = 38373
externalPort = 3002

[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = 38311320
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
