modules = ["nodejs-20", "web", "nix"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 43
externalPort = 3001

[[ports]]
localPort = 4321
externalPort = 80

[[ports]]
localPort = 4322
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 34235
externalPort = 8008

[[ports]]
localPort = 35063
externalPort = 8081

[[ports]]
localPort = 37987
externalPort = 4200

[[ports]]
localPort = 38303
externalPort = 3003

[[ports]]
localPort = 38373
externalPort = 3002

[[ports]]
localPort = 40627
externalPort = 5173

[[ports]]
localPort = 41115
externalPort = 8000

[[ports]]
localPort = 41421
externalPort = 5000

[[ports]]
localPort = 41687
externalPort = 6000

[[ports]]
localPort = 41923
externalPort = 8080

[[ports]]
localPort = 44419
externalPort = 6800

[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = 38311320
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[agent]
expertMode = true
